# OUMUAMUA_project

## Proyecto final Bootcamp DataMad0119

### Realizado por: Laura Repullo


En octubre de 2017, un telescopio de la Universidad de Hawai descubrió un misterioso objeto con forma de cigarrillo dando vueltas por el sistema solar; lo bautizaron con el nombre de Oumuamua ("mensajero que llega dese un pasado lejano").

Desde su descubrimiento, los científicos no han podido ponerse de acuerdo para explicar sus características inusuales y su origen preciso. Primero, algunos investigadores dijeron que era un cometa y luego un asteroide, antes de determinar que es el primero de su tipo: una nueva clase de “objetos interestelares”.

En octubre de 2018 Abraham Loeb, profesor y director de astronomía de la Universidad de Harvard, y Shmuel Bialy, alumno del postdoctorado, publicaron un artículo en la revista científica Astrophysical Journal Letters sobre Oumuamua.

“Oumuamua podría ser una sonda totalmente operativa enviada a las inmediaciones de la Tierra por una civilización extraterrestre”, escribieron los investigadores en el trabajo que fue presentado a la revista Astrophysical Journal Letters.

Era la primera vez que la comunidad cientifica hablaba punlicamente de la posibilidad de que pudiera existir vida extraterrestre.

Este proyecto trata de analizar las características de los avistamientos de OVNIs recogidos durante el último siglo en un dataset por la NUFORC (National UFO Reporting Center):

 - Origen de datos:https://www.kaggle.com/NUFORC/ufo-sightings#complete.csv

El dataset tiene las siguientes columnas: 

- datetime: indica el dia y hora del avistamiento.
- city: ciudad desde donde se vio el OVNI
- state: estado desde donde se vio el OVNI
- country: país
- shape: forma del OVNI 
- duration (seconds): duración (segundos)
- duration (hours/min): duración (horas/minutos)
- comments: descrición del avistamiento
- date posted: dia publicado
- latitude: coordinada de latitud del avistamiento
- longitude: coordinada de longitus del avistamiento

Comenzamos el análisis:

## 1. Limpieza de los datos:

Importamos las librerias que vamos a necesitar, tanto para la limpieza como para el aánlisis y tratamiento de los datos:

In [1]:
import pandas as pd
import time
from datetime import date
from datetime import time
import matplotlib.pyplot as plt
import re

from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')
nltk.download('wordnet')
from nltk import stem
from nltk.stem import WordNetLemmatizer
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()
from nltk.stem import PorterStemmer
from nltk.tokenize import sent_tokenize, word_tokenize
ps = PorterStemmer()

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="ironhack")
from geopy.util import get_version
get_version()

[nltk_data] Downloading package stopwords to /home/laura/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/laura/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
/home/laura/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Importamos el dataset "UFO" en formato .csv:

In [ ]:
data = pd.read_csv('./UFO.csv')

Observamos el numero de filas y columnas del dataset:

In [2]:
data.shape

(88875, 14)

In [3]:
data.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [4]:
data.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.9411111,NaN,NaN,NaN
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,NaN,NaN,NaN
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,NaN,NaN,NaN
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.6458333,NaN,NaN,NaN
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.8036111,NaN,NaN,NaN

Analizamos los tipos de datos de las columnas; salvo las 2 ultimas, todos son tipo objeto, y debemos modificar varios:
- 'datetime': lo pasaremos a tipo datetime
- 'duracion (seconds)', 'latitude' y 'longitude', deben ser valores numéricos, para que al trataros los programas los traten correctamente.
 
Tambien unificaremos las mayusculas y minusculas de las columnas 'city', 'country' y 'state' para homogeneizar las columnas.

In [5]:
data.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude                object
Unnamed: 11              object
Unnamed: 12             float64
Unnamed: 13             float64
dtype: object

In [2]:
data['datetime'] = pd.to_datetime(data['datetime'], errors='coerce') #datetime to datetime
data['duration (seconds)'] = pd.to_numeric(data['duration (seconds)'], errors='coerce') #duration (seconds) to float
data['latitude'] = pd.to_numeric(data['latitude'], errors='coerce') #latitud to float
data['longitude'] = pd.to_numeric(data['longitude'], errors='coerce') #longitude to float
data.dtypes
data['city'] = data['city'].str.title()
data['state'] = data['state'].str.upper()
data['country'] = data['country'].str.upper()

Nos fijamos en la columna 'datetime':
 - los datos que tratamos estan comprendidos entre los años 1906 y 2014
 - dividimos la columna entre las columnas 'year', 'date' y 'time', para que más adelante nos permita un mejor análisis:

In [3]:
print(data['datetime'].min())
print(data['datetime'].max())

1906-11-11 00:00:00
2014-05-08 18:45:00

In [4]:
#split in date and time:
data['date'] = [d.date() for d in data['datetime']]
data['year'] = data.datetime.dt.year

data['time'] = data.datetime.dt.time

Comprobamos que columnas tienen valores nulos:
- 'Unnamed: 11 '(88197), 'Unnamed: 12' (88836), 'Unnamed: 13' (88873): casi todas sus filas son valores nulos, asi que las eliminamos.
- es necesario que tambien 'latitud' o 'longitud' tengas valores válidos; eliminamos las filas cuyos valores son nulos.
- tenemos que quitar las latitudes fuera del rango [-90, 90] y las longitudes que esten fuera de [-180, 180].

In [15]:
data1.latitude.max(), data1.latitude.min(), data1.longitude.max(), data1.longitude.min()

(72.7, -82.862752, 178.4419, -176.65805559999998)

In [10]:
data.isnull().sum()

datetime                 1262
city                      196
state                    7396
country                 12401
shape                    3358
duration (seconds)        403
duration (hours/min)     3090
comments                  154
date posted                 3
latitude                  679
longitude                  39
Unnamed: 11             88197
Unnamed: 12             88836
Unnamed: 13             88873
date                     1262
year                     1262
time                     1262
dtype: int64

In [6]:
# eliminamos las columnas que tienen casi todos los valores, nulos:
data1 = data.drop(['Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13','duration (hours/min)'], axis=1).dropna(subset=['latitude', 'longitude'], inplace=False)
#tambien las filas cuyos valores de 'latitud' o 'longitud' son nulos:
data1 = data1[data1['latitude'] != 0.000000]
#tenemos que quitar las latitudes fuera del rango [-90, 90] y las longitudes que esten en [-180, 180]:
data1 = data1[(data1['latitude'].between(-90,90)) & (data1['longitude'].between(-180,180))]

In [7]:
data1.head(143)

,datetime,city,state,country,shape,duration (seconds),comments,date posted,latitude,longitude,date,year,time
0,1949-10-10 20:30:00,San Marcos,TX,US,cylinder,2700.0,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,1949-10-10,1949.0,20:30:00
1,1949-10-10 21:00:00,Lackland Afb,TX,NaN,light,7200.0,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,1949-10-10,1949.0,21:00:00
2,1955-10-10 17:00:00,Chester (Uk/England),NaN,GB,circle,20.0,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,1955-10-10,1955.0,17:00:00
3,1956-10-10 21:00:00,Edna,TX,US,circle,20.0,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,1956-10-10,1956.0,21:00:00
4,1960-10-10 20:00:00,Kaneohe,HI,US,light,900.0,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,1960-10-10,1960.0,20:00:00
5,1961-10-10 19:00:00,Bristol,TN,US,sphere,300.0,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,1961-10-10,1961.0,19:00:00
6,1965-10-10 21:00:00,Penarth (Uk/Wales),NaN,GB,circle,180.0,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000,1965-10-10,1965.0,21:00:00
7,1965-10-10 23:45:00,Norwalk,CT,US,disk,1200.0,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333,1965-10-10,1965.0,23:45:00
8,1966-10-10 20:00:00,Pell City,AL,US,disk,180.0,Strobe Lighted disk shape object observed clos...,3/19/2009,33.586111,-86.286111,1966-10-10,1966.0,20:00:00
9,1966-10-10 21:00:00,Live Oak,FL,US,disk,120.0,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.294722,-82.984167,1966-10-10,1966.0,21:00:00
10,1968-10-10 13:00:00,Hawthorne,CA,US,circle,300.0,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.916389,-118.351667,1968-10-10,1968.0,13:00:00
11,1968-10-10 19:00:00,Brevard,NC,US,fireball,180.0,silent red /orange mass of energy floated by t...,6/12/2008,35.233333,-82.734444,1968-10-10,1968.0,19:00:00
12,1970-10-10 16:00:00,Bellmore,NY,US,disk,1800.0,silver disc seen by family and neighbors,5/11/2000,40.668611,-73.527500,1970-10-10,1970.0,16:00:00
13,1970-10-10 19:00:00,Manchester,KY,US,unknown,180.0,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.153611,-83.761944,1970-10-10,1970.0,19:00:00
14,1971-10-10 21:00:00,Lexington,NC,US,oval,30.0,green oval shaped light over my local church&#...,2/14/2010,35.823889,-80.253611,1971-10-10,1971.0,21:00:00
15,1972-10-10 19:00:00,Harlan County,KY,US,circle,1200.0,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.843056,-83.321944,1972-10-10,1972.0,19:00:00
16,1972-10-10 22:30:00,West Bloomfield,MI,US,disk,120.0,The UFO was so close&#44 my battery in the car...,8/14/2007,42.537778,-83.233056,1972-10-10,1972.0,22:30:00
17,1973-10-10 19:00:00,Niantic,CT,US,disk,1800.0,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.325278,-72.193611,1973-10-10,1973.0,19:00:00
18,1973-10-10 23:00:00,Bermuda Nas,NaN,NaN,light,20.0,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611,1973-10-10,1973.0,23:00:00
20,1974-10-10 19:30:00,Hudson,MA,US,other,2700.0,Not sure of the eact month or year of this sig...,8/10/1999,42.391667,-71.566667,1974-10-10,1974.0,19:30:00
21,1974-10-10 21:30:00,Cardiff (Uk/Wales),NaN,GB,disk,1200.0,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.500000,-3.200000,1974-10-10,1974.0,21:30:00
22,1974-10-10 23:00:00,Hudson,KS,US,light,1200.0,The light chased us.,7/25/2004,38.105556,-98.659722,1974-10-10,1974.0,23:00:00
23,1975-10-10 17:00:00,North Charleston,SC,US,light,360.0,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.854444,-79.975000,1975-10-10,1975.0,17:00:00
24,1976-10-10 20:30:00,Washougal,WA,US,oval,60.0,Three extremely large lights hanging above nea...,2/7/2014,45.582778,-122.352222,1976-10-10,1976.0,20:30:00
25,1976-10-10 22:00:00,Stoke Mandeville (Uk/England),NaN,GB,cigar,3.0,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333,1976-10-10,1976.0,22:00:00
26,1977-10-10 12:00:00,San Antonio,TX,US,other,30.0,i was about six or seven and my family and me ...,2/24/2005,29.423889,-98.493333,1977-10-10,1977.0,12:00:00
27,1977-10-10 22:00:00,Louisville,KY,US,light,30.0,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.254167,-85.759444,1977-10-10,1977.0,22:00:00
28,1978-10-10 02:00:00,Elmont,NY,US,rectangle,300.0,A memory I will never forget that happened men...,2/1/2007,40.700833,-73.713333,1978-10-10,1978.0,02:00:00
29,1979-10-10 00:00:00,Poughkeepsie,NY,US,chevron,900.0,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.700278,-73.921389,1979-10-10,1979.0,00:00:00
30,1979-10-10 22:00:00,Saddle Lake (Canada),AB,NaN,triangle,270.0,Lights far above&#44 that glance; then flee f...,1/19/2005,53.970571,-111.689885,1979-10-10,1979.0,22:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2002-10-10 02:00:00,Philomath,OR,US,unknown,5.0,i watched on the portland news that the space ...,10/15/2002,44.540278,-123.366389,2002-10-10,2002.0,02:00:00
121,2002-10-10 04:00:00,Adelaide (Pt. Wakefield) (South Australia),NaN,AU,circle,600.0,one light became 3,10/28/2002,-34.928661,138.598633,2002-10-10,2002.0,04:00:00
122,2002-10-10 06:00:00,Seattle,WA,US,sphere,90.0,Light falls from sky,10/15/2002,47.606389,-122.330833,2002-10-10,2002.0,06:00:00
123,2002-10-10 19:45:00,Victoria (Canada),BC,CA,unknown,120.0,bright white light with black outline around i...,10/15/2002,46.216667,-63.483333,2002-10-10,2002.0,19:45:00
124,2002-10-10 20:30:00,Cincinnati,OH,US,other,1800.0,Large octagon blue lights on rim red center li...,10/15/2002,39.161944,-84.456944,2002-10-10,2002.0,20:30:00
125,2002-10-10 21:00:00,Portland,OR,US,circle,120.0,The LIGHT is the TRUTH&#33,12/16/2005,45.523611,-122.675000,2002-10-10,2002.0,21:00:00
126,2002-10-10 22:00:00,Bahamas,NaN,NaN,egg,0.0,we are sitting outside and commenting on all t...,10/15/2002,25.034280,-77.396280,2002-10-10,2002.0,22:00:00
127,2002-10-10 22:00:00,Burnie (Tasmania) (Australia),NaN,AU,cross,0.0,the craft was large and noisy,7/13/2005,-41.055840,145.903748,2002-10-10,2002.0,22:00:00
128,2003-10-10 09:00:00,New Buffulo,MI,NaN,light,120.0,Craft that suddenly vanishes and another one t...,5/24/2005,41.793930,-86.743915,2003-10-10,2003.0,09:00:00
129,2003-10-10 12:00:00,Alhambra,CA,US,oval,300.0,3 Black ovals in the sky and a floating movie ...,1/17/2004,34.095278,-118.126111,2003-10-10,2003.0,12:00:00
130,2003-10-10 18:00:00,Indianapolis,IN,US,sphere,1800.0,Sphere shape object with flashing bright white...,10/15/2003,39.768333,-86.158056,2003-10-10,2003.0,18:00:00
131,2003-10-10 19:15:00,Centreville,VA,US,other,600.0,Aliens check out local high school football game.,10/15/2003,38.840278,-77.429167,2003-10-10,2003.0,19:15:00
132,2003-10-10 20:05:00,Grand View,ID,US,light,15.0,Bright light above Mt. Home AFB,10/15/2003,42.989722,-116.092500,2003-10-10,2003.0,20:05:00
133,2003-10-10 20:25:00,Temperance,MI,US,oval,18000.0,pulsating green white and red object in the no...,10/31/2003,41.779167,-83.568889,2003-10-10,2003.0,20:25:00
134,2003-10-10 21:10:00,Crescent Beach,SC,US,formation,37800.0,For two consecutive nights&#44 we watched a pa...,1/17/2004,33.807500,-78.701111,2003-10-10,2003.0,21:10:00
135,2003-10-10 22:00:00,Albuquerque,NM,US,light,180.0,Three bright lights that were huddled together...,2/1/2007,35.084444,-106.650556,2003-10-10,2003.0,22:00:00
136,2003-10-10 23:00:00,Bickerton (Near Wetherby) (Uk/England),NaN,NaN,unknown,2700.0,two bright&#44 but fuzzy lights going in a hov...,10/15/2003,53.070884,-2.736506,2003-10-10,2003.0,23:00:00
137,2003-10-10 23:25:00,Gleason,WI,US,sphere,1800.0,UFO Contact&#44 Amazing close sighting,9/2/2005,45.308889,-89.496389,2003-10-10,2003.0,23:25:00
138,2004-10-10 02:50:00,Mahwah,NJ,US,triangle,180.0,Triangle shaped flying&#44 hovering U.F.O. wit...,12/12/2011,41.088611,-74.144167,2004-10-10,2004.0,02:50:00
139,2004-10-10 03:30:00,Worthington St. Forest,NJ,NaN,other,2700.0,witnessed a large object and an intense red li...,10/27/2004,40.058324,-74.405661,2004-10-10,2004.0,03:30:00
140,2004-10-10 03:50:00,Portage La Prairie (Canada),MB,CA,changing,1200.0,Series of Green Blue Red White lights spherica...,10/27/2004,49.966667,-98.300000,2004-10-10,2004.0,03:50:00
141,2004-10-10 04:18:00,Terre Haute,IN,US,sphere,5.0,silently&#44 it came over my head from behind;...,10/27/2004,39.466667,-87.413889,2004-10-10,2004.0,04:18:00
142,2004-10-10 08:30:00,Indianapolis,IN,US,oval,15.0,((NUFORC Note: Possible sighting of a contrai...,10/27/2004,39.768333,-86.158056,2004-10-10,2004.0,08:30:00
143,2004-10-10 09:45:00,Nobel (Canada),ON,CA,unknown,300.0,Floating Red Object,10/27/2004,45.416667,-80.100000,2004-10-10,2004.0,09:45:00
144,2004-10-10 14:00:00,Morgantown,WV,US,circle,10.0,Solid round silver ball passing over at about ...,5/24/2005,39.629444,-79.956111,2004-10-10,2004.0,14:00:00
145,2004-10-10 15:00:00,Berkeley,CA,US,unknown,180.0,While driving my car in the mid afternoon of a...,5/24/2005,37.871667,-122.271667,2004-10-10,2004.0,15:00:00
146,2004-10-10 15:00:00,Rock Island,IL,US,sphere,3600.0,The sky was clear and the objects at times ap...,10/27/2004,41.509444,-90.578611,2004-10-10,2004.0,15:00:00
147,2004-10-10 15:20:00,Kedainiai (Lithuania),NaN,NaN,oval,240.0,6 oval light objects very quickly rounded unde...,10/27/2004,55.288131,23.957728,2004-10-10,2004.0,15:20:00
148,2004-10-10 19:00:00,Chateauqua,NY,NaN,formation,1200.0,4 bright circles in a half rainbow formation w...,10/27/2004,42.209774,-79.466844,2004-10-10,2004.0,19:00:00
149,2004-10-10 19:00:00,Ripley,NY,US,circle,900.0,7 red/orange stationary objects appeared over ...,10/27/2004,42.266944,-79.710833,2004-10-10,2004.0,19:00:00

Estudiamos los valores de 'country': sustituimos valores que están mal registrados, por el codigo de 2 letras según la ISO 3166-1.

No todos los valores son conocidos; asi que completaremos este campo, haciendo request a una API a través de geopy.geocoders, con los valores de latitud y longitud de las columnas correspondientes.

Antes de eso, para tenerlo localizados los valores que debemos buscar, sustitimos los valores nulos por 'other'.

In [14]:
#En la columna Country hay muchos valores erroneos: en un primer momento vamos a sustituir algunos valores:
data1['country'] = data1['country'].replace(['WI', 'FL', 'HI', 'IA', 'KS', 'UT', 'MI', 'WV', 'WY','VT', 'ND', 'NJ','NM', 'NV', 'NY', 'OR', 'TX'], 'US')
data1['country'] = data1['country'].replace(['AB', 'BC', 'MB', 'PQ', 'QC', ' ??) (CANADA)'], 'CA')
data1['country'] = data1['country'].replace(['DC'], 'DK')
data1['country'] = data1['country'].replace([' (CATALUNYA) (SPAIN)'], 'SP')
data1['country'] = data1['country'].replace([' (FINLAND)'], 'FI')
data1['country'] = data1['country'].replace(['N (SWEDEN)',  '(SWEDEN)', 'SAND (SWEDEN)',' (SWEDEN)'], 'SE')
data1['country'] = data1['country'].replace(['Y (NORWAY)',  'NDELAG (NORWAY)'], 'NO')
data1['country'] = data1['country'].replace([' POD RALSKEM (CZECH REPUBLIC)'], 'CZ')
data1['country'] = data1['country'].replace(['A (ARGENTINA)'], 'AR')
data1['country'] = data1['country'].replace(['RITO SANTO STATE) (BRAZIL)', ' CERRO PRIETO.&#44 B. C.'], 'BR')

data1.country.fillna('other',inplace=True)

#data1[data.country.isnull()]
data1.country.unique()

array(['US', 'other', 'GB', 'CA', 'AU', 'DE'], dtype=object)

In [16]:
data1.country.value_counts()

US       70105
other    10554
CA        3243
GB        2038
AU         578
DE         111
Name: country, dtype: int64

## 2. ENRIQUECIMIENTO DE LA BASE DE DATOS:

Como hemos comentado, completaremos la columna 'country' haciendo peticiones a través de geopy.geocoders:

In [17]:
# Para los datos en los que 'country' es un valor nulo, lo vamos a sustituir por el valor que nos devuelve geolocator al hacer la consulta con los datos de latitud y longitud:

def adress_state (lat, lon):
    coord = str(lat) + ' , '+ str(lon)
    location = geolocator.reverse(coord)
    res = location.raw['address']['state']
    return res
        
def adress_country(lat, lon, country):
    if country != 'other':
        return country
    else: 
        try: 
            coord = str(lat) + ' , '+ str(lon)
            location = geolocator.reverse(coord)
            res2 = location.raw['address']['country']
            return res2
        except: 
            return 'timeout'

#PARA PROBAR LA FUNCION:
print(adress_country(29.883056, -97.941111, 'other'))
      

#DESBLOQUEAR AL FINAL!!!data1['country'] = data1.apply(lambda x: adress_country(x['latitude'], x['longitude'], x['country']), axis = 1)
   # else:
        #i

USA

Guardamos el resultado obtenido en un .csv, al que llamaremos "UFO_modify1.csv".

In [9]:
#data1.to_csv("UFO_modify1.csv")

Seguimos en oumuamua_2.