Origen de datos:https://www.kaggle.com/NUFORC/ufo-sightings#complete.csv

Context
This dataset contains over 80,000 reports of UFO sightings over the last century.

Content
There are two versions of this dataset: scrubbed and complete. The complete data includes entries where the location of the sighting was not found or blank (0.8146%) or have an erroneous or blank time (8.0237%). Since the reports date back to the 20th century, some older data might be obscured. Data contains city, state, time, description, and duration of each sighting.

Inspiration
What areas of the country are most likely to have UFO sightings?
Are there any trends in UFO sightings over time? Do they tend to be clustered or seasonal?
Do clusters of UFO sightings correlate with landmarks, such as airports or government research centers?
What are the most common UFO descriptions?
Acknowledgement
This dataset was scraped, geolocated, and time standardized from NUFORC data by Sigmond Axel here.

In [1]:
import pandas as pd
import time
from datetime import date
from datetime import time
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="ironhack")
from geopy.util import get_version
get_version()

data = pd.read_csv('./UFO.csv')

[nltk_data] Downloading package stopwords to /home/laura/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
/home/laura/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3044: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
data.shape

(88875, 14)

In [3]:
data.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

In [4]:
data.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.9411111,NaN,NaN,NaN
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082,NaN,NaN,NaN
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667,NaN,NaN,NaN
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.6458333,NaN,NaN,NaN
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.8036111,NaN,NaN,NaN

In [5]:
data.dtypes

datetime                 object
city                     object
state                    object
country                  object
shape                    object
duration (seconds)       object
duration (hours/min)     object
comments                 object
date posted              object
latitude                 object
longitude                object
Unnamed: 11              object
Unnamed: 12             float64
Unnamed: 13             float64
dtype: object

In [6]:
data['datetime'] = pd.to_datetime(data['datetime'], errors='coerce') #datetime to datetime
data['duration (seconds)'] = pd.to_numeric(data['duration (seconds)'], errors='coerce') #duration (seconds) to float
data['latitude'] = pd.to_numeric(data['latitude'], errors='coerce') #latitud to float
data['longitude'] = pd.to_numeric(data['longitude'], errors='coerce') #longitude to float
data.dtypes
data['city'] = data['city'].str.title()
data['state'] = data['state'].str.upper()
data['country'] = data['country'].str.upper()

In [7]:
print(data['duration (seconds)'].max())
print(data['duration (seconds)'].min())

97836000.0
0.0

In [8]:
print(data['datetime'].min())
print(data['datetime'].max())

1906-11-11 00:00:00
2014-05-08 18:45:00

In [9]:
#split in date and time:
data['date'] = [d.date() for d in data['datetime']]
data['year'] = data.datetime.dt.year

data['time'] = data.datetime.dt.time
data.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude,Unnamed: 11,Unnamed: 12,Unnamed: 13,date,year,time
0,1949-10-10 20:30:00,San Marcos,TX,US,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,NaN,NaN,NaN,1949-10-10,1949.0,20:30:00
1,1949-10-10 21:00:00,Lackland Afb,TX,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,NaN,NaN,NaN,1949-10-10,1949.0,21:00:00
2,1955-10-10 17:00:00,Chester (Uk/England),NaN,GB,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,NaN,NaN,NaN,1955-10-10,1955.0,17:00:00
3,1956-10-10 21:00:00,Edna,TX,US,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,NaN,NaN,NaN,1956-10-10,1956.0,21:00:00
4,1960-10-10 20:00:00,Kaneohe,HI,US,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,NaN,NaN,NaN,1960-10-10,1960.0,20:00:00

In [10]:
data.isnull().sum()
#hay que eliminar las columnas: Unnamed: 11 (88197), Unnamed: 12 (88836), Unnamed: 13 (88873)

datetime                 1262
city                      196
state                    7396
country                 12401
shape                    3358
duration (seconds)        403
duration (hours/min)     3090
comments                  154
date posted                 3
latitude                  679
longitude                  39
Unnamed: 11             88197
Unnamed: 12             88836
Unnamed: 13             88873
date                     1262
year                     1262
time                     1262
dtype: int64

In [11]:
# eliminamos las columnas que tienen casi todos los valores, nulos:
data1 = data.drop(['Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13','duration (hours/min)'], axis=1).dropna(subset=['latitude', 'longitude'], inplace=False)
#tambien las filas cuyos valores de 'latitud' o 'longitud' son nulos:
data1 = data1[data1['latitude'] != 0.000000]
#tenemos que quitar las latitudes fuera del rango [-90, 90] y las longitudes que esten en [-180, 180]:
#data1 = data1[data1['latitude'] >= -90 and data1['latitude'] <= 90 ]
data1 = data1[(data1['latitude'].between(-90,90)) & (data1['longitude'].between(-180,180))]
#.dropna(axis=0, how='any', inplace=False)
#tambien las filas cuyos valores de 'latitud' o 'longitud' son nulos:
#data1.dropna(subset=['name', 'born'])

In [12]:
data1.head(143)

,datetime,city,state,country,shape,duration (seconds),comments,date posted,latitude,longitude,date,year,time
0,1949-10-10 20:30:00,San Marcos,TX,US,cylinder,2700.0,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,1949-10-10,1949.0,20:30:00
1,1949-10-10 21:00:00,Lackland Afb,TX,NaN,light,7200.0,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,1949-10-10,1949.0,21:00:00
2,1955-10-10 17:00:00,Chester (Uk/England),NaN,GB,circle,20.0,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,1955-10-10,1955.0,17:00:00
3,1956-10-10 21:00:00,Edna,TX,US,circle,20.0,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,1956-10-10,1956.0,21:00:00
4,1960-10-10 20:00:00,Kaneohe,HI,US,light,900.0,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,1960-10-10,1960.0,20:00:00
5,1961-10-10 19:00:00,Bristol,TN,US,sphere,300.0,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,1961-10-10,1961.0,19:00:00
6,1965-10-10 21:00:00,Penarth (Uk/Wales),NaN,GB,circle,180.0,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000,1965-10-10,1965.0,21:00:00
7,1965-10-10 23:45:00,Norwalk,CT,US,disk,1200.0,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333,1965-10-10,1965.0,23:45:00
8,1966-10-10 20:00:00,Pell City,AL,US,disk,180.0,Strobe Lighted disk shape object observed clos...,3/19/2009,33.586111,-86.286111,1966-10-10,1966.0,20:00:00
9,1966-10-10 21:00:00,Live Oak,FL,US,disk,120.0,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.294722,-82.984167,1966-10-10,1966.0,21:00:00
10,1968-10-10 13:00:00,Hawthorne,CA,US,circle,300.0,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.916389,-118.351667,1968-10-10,1968.0,13:00:00
11,1968-10-10 19:00:00,Brevard,NC,US,fireball,180.0,silent red /orange mass of energy floated by t...,6/12/2008,35.233333,-82.734444,1968-10-10,1968.0,19:00:00
12,1970-10-10 16:00:00,Bellmore,NY,US,disk,1800.0,silver disc seen by family and neighbors,5/11/2000,40.668611,-73.527500,1970-10-10,1970.0,16:00:00
13,1970-10-10 19:00:00,Manchester,KY,US,unknown,180.0,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.153611,-83.761944,1970-10-10,1970.0,19:00:00
14,1971-10-10 21:00:00,Lexington,NC,US,oval,30.0,green oval shaped light over my local church&#...,2/14/2010,35.823889,-80.253611,1971-10-10,1971.0,21:00:00
15,1972-10-10 19:00:00,Harlan County,KY,US,circle,1200.0,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.843056,-83.321944,1972-10-10,1972.0,19:00:00
16,1972-10-10 22:30:00,West Bloomfield,MI,US,disk,120.0,The UFO was so close&#44 my battery in the car...,8/14/2007,42.537778,-83.233056,1972-10-10,1972.0,22:30:00
17,1973-10-10 19:00:00,Niantic,CT,US,disk,1800.0,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.325278,-72.193611,1973-10-10,1973.0,19:00:00
18,1973-10-10 23:00:00,Bermuda Nas,NaN,NaN,light,20.0,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611,1973-10-10,1973.0,23:00:00
20,1974-10-10 19:30:00,Hudson,MA,US,other,2700.0,Not sure of the eact month or year of this sig...,8/10/1999,42.391667,-71.566667,1974-10-10,1974.0,19:30:00
21,1974-10-10 21:30:00,Cardiff (Uk/Wales),NaN,GB,disk,1200.0,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.500000,-3.200000,1974-10-10,1974.0,21:30:00
22,1974-10-10 23:00:00,Hudson,KS,US,light,1200.0,The light chased us.,7/25/2004,38.105556,-98.659722,1974-10-10,1974.0,23:00:00
23,1975-10-10 17:00:00,North Charleston,SC,US,light,360.0,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.854444,-79.975000,1975-10-10,1975.0,17:00:00
24,1976-10-10 20:30:00,Washougal,WA,US,oval,60.0,Three extremely large lights hanging above nea...,2/7/2014,45.582778,-122.352222,1976-10-10,1976.0,20:30:00
25,1976-10-10 22:00:00,Stoke Mandeville (Uk/England),NaN,GB,cigar,3.0,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333,1976-10-10,1976.0,22:00:00
26,1977-10-10 12:00:00,San Antonio,TX,US,other,30.0,i was about six or seven and my family and me ...,2/24/2005,29.423889,-98.493333,1977-10-10,1977.0,12:00:00
27,1977-10-10 22:00:00,Louisville,KY,US,light,30.0,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.254167,-85.759444,1977-10-10,1977.0,22:00:00
28,1978-10-10 02:00:00,Elmont,NY,US,rectangle,300.0,A memory I will never forget that happened men...,2/1/2007,40.700833,-73.713333,1978-10-10,1978.0,02:00:00
29,1979-10-10 00:00:00,Poughkeepsie,NY,US,chevron,900.0,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.700278,-73.921389,1979-10-10,1979.0,00:00:00
30,1979-10-10 22:00:00,Saddle Lake (Canada),AB,NaN,triangle,270.0,Lights far above&#44 that glance; then flee f...,1/19/2005,53.970571,-111.689885,1979-10-10,1979.0,22:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2002-10-10 02:00:00,Philomath,OR,US,unknown,5.0,i watched on the portland news that the space ...,10/15/2002,44.540278,-123.366389,2002-10-10,2002.0,02:00:00
121,2002-10-10 04:00:00,Adelaide (Pt. Wakefield) (South Australia),NaN,AU,circle,600.0,one light became 3,10/28/2002,-34.928661,138.598633,2002-10-10,2002.0,04:00:00
122,2002-10-10 06:00:00,Seattle,WA,US,sphere,90.0,Light falls from sky,10/15/2002,47.606389,-122.330833,2002-10-10,2002.0,06:00:00
123,2002-10-10 19:45:00,Victoria (Canada),BC,CA,unknown,120.0,bright white light with black outline around i...,10/15/2002,46.216667,-63.483333,2002-10-10,2002.0,19:45:00
124,2002-10-10 20:30:00,Cincinnati,OH,US,other,1800.0,Large octagon blue lights on rim red center li...,10/15/2002,39.161944,-84.456944,2002-10-10,2002.0,20:30:00
125,2002-10-10 21:00:00,Portland,OR,US,circle,120.0,The LIGHT is the TRUTH&#33,12/16/2005,45.523611,-122.675000,2002-10-10,2002.0,21:00:00
126,2002-10-10 22:00:00,Bahamas,NaN,NaN,egg,0.0,we are sitting outside and commenting on all t...,10/15/2002,25.034280,-77.396280,2002-10-10,2002.0,22:00:00
127,2002-10-10 22:00:00,Burnie (Tasmania) (Australia),NaN,AU,cross,0.0,the craft was large and noisy,7/13/2005,-41.055840,145.903748,2002-10-10,2002.0,22:00:00
128,2003-10-10 09:00:00,New Buffulo,MI,NaN,light,120.0,Craft that suddenly vanishes and another one t...,5/24/2005,41.793930,-86.743915,2003-10-10,2003.0,09:00:00
129,2003-10-10 12:00:00,Alhambra,CA,US,oval,300.0,3 Black ovals in the sky and a floating movie ...,1/17/2004,34.095278,-118.126111,2003-10-10,2003.0,12:00:00
130,2003-10-10 18:00:00,Indianapolis,IN,US,sphere,1800.0,Sphere shape object with flashing bright white...,10/15/2003,39.768333,-86.158056,2003-10-10,2003.0,18:00:00
131,2003-10-10 19:15:00,Centreville,VA,US,other,600.0,Aliens check out local high school football game.,10/15/2003,38.840278,-77.429167,2003-10-10,2003.0,19:15:00
132,2003-10-10 20:05:00,Grand View,ID,US,light,15.0,Bright light above Mt. Home AFB,10/15/2003,42.989722,-116.092500,2003-10-10,2003.0,20:05:00
133,2003-10-10 20:25:00,Temperance,MI,US,oval,18000.0,pulsating green white and red object in the no...,10/31/2003,41.779167,-83.568889,2003-10-10,2003.0,20:25:00
134,2003-10-10 21:10:00,Crescent Beach,SC,US,formation,37800.0,For two consecutive nights&#44 we watched a pa...,1/17/2004,33.807500,-78.701111,2003-10-10,2003.0,21:10:00
135,2003-10-10 22:00:00,Albuquerque,NM,US,light,180.0,Three bright lights that were huddled together...,2/1/2007,35.084444,-106.650556,2003-10-10,2003.0,22:00:00
136,2003-10-10 23:00:00,Bickerton (Near Wetherby) (Uk/England),NaN,NaN,unknown,2700.0,two bright&#44 but fuzzy lights going in a hov...,10/15/2003,53.070884,-2.736506,2003-10-10,2003.0,23:00:00
137,2003-10-10 23:25:00,Gleason,WI,US,sphere,1800.0,UFO Contact&#44 Amazing close sighting,9/2/2005,45.308889,-89.496389,2003-10-10,2003.0,23:25:00
138,2004-10-10 02:50:00,Mahwah,NJ,US,triangle,180.0,Triangle shaped flying&#44 hovering U.F.O. wit...,12/12/2011,41.088611,-74.144167,2004-10-10,2004.0,02:50:00
139,2004-10-10 03:30:00,Worthington St. Forest,NJ,NaN,other,2700.0,witnessed a large object and an intense red li...,10/27/2004,40.058324,-74.405661,2004-10-10,2004.0,03:30:00
140,2004-10-10 03:50:00,Portage La Prairie (Canada),MB,CA,changing,1200.0,Series of Green Blue Red White lights spherica...,10/27/2004,49.966667,-98.300000,2004-10-10,2004.0,03:50:00
141,2004-10-10 04:18:00,Terre Haute,IN,US,sphere,5.0,silently&#44 it came over my head from behind;...,10/27/2004,39.466667,-87.413889,2004-10-10,2004.0,04:18:00
142,2004-10-10 08:30:00,Indianapolis,IN,US,oval,15.0,((NUFORC Note: Possible sighting of a contrai...,10/27/2004,39.768333,-86.158056,2004-10-10,2004.0,08:30:00
143,2004-10-10 09:45:00,Nobel (Canada),ON,CA,unknown,300.0,Floating Red Object,10/27/2004,45.416667,-80.100000,2004-10-10,2004.0,09:45:00
144,2004-10-10 14:00:00,Morgantown,WV,US,circle,10.0,Solid round silver ball passing over at about ...,5/24/2005,39.629444,-79.956111,2004-10-10,2004.0,14:00:00
145,2004-10-10 15:00:00,Berkeley,CA,US,unknown,180.0,While driving my car in the mid afternoon of a...,5/24/2005,37.871667,-122.271667,2004-10-10,2004.0,15:00:00
146,2004-10-10 15:00:00,Rock Island,IL,US,sphere,3600.0,The sky was clear and the objects at times ap...,10/27/2004,41.509444,-90.578611,2004-10-10,2004.0,15:00:00
147,2004-10-10 15:20:00,Kedainiai (Lithuania),NaN,NaN,oval,240.0,6 oval light objects very quickly rounded unde...,10/27/2004,55.288131,23.957728,2004-10-10,2004.0,15:20:00
148,2004-10-10 19:00:00,Chateauqua,NY,NaN,formation,1200.0,4 bright circles in a half rainbow formation w...,10/27/2004,42.209774,-79.466844,2004-10-10,2004.0,19:00:00
149,2004-10-10 19:00:00,Ripley,NY,US,circle,900.0,7 red/orange stationary objects appeared over ...,10/27/2004,42.266944,-79.710833,2004-10-10,2004.0,19:00:00

In [13]:
data1.country.unique()

array(['US', nan, 'GB', 'CA', 'AU', 'DE'], dtype=object)

In [14]:
#En la columna Country hay muchos valores erroneos: en un primer momento vamos a sustituir algunos valores:
data1['country'] = data1['country'].replace(['WI', 'FL', 'HI', 'IA', 'KS', 'UT', 'MI', 'WV', 'WY','VT', 'ND', 'NJ','NM', 'NV', 'NY', 'OR', 'TX'], 'US')
data1['country'] = data1['country'].replace(['AB', 'BC', 'MB', 'PQ', 'QC', ' ??) (CANADA)'], 'CA')
data1['country'] = data1['country'].replace(['DC'], 'DK')
data1['country'] = data1['country'].replace([' (CATALUNYA) (SPAIN)'], 'SP')
data1['country'] = data1['country'].replace([' (FINLAND)'], 'FI')
data1['country'] = data1['country'].replace(['N (SWEDEN)',  '(SWEDEN)', 'SAND (SWEDEN)',' (SWEDEN)'], 'SE')
data1['country'] = data1['country'].replace(['Y (NORWAY)',  'NDELAG (NORWAY)'], 'NO')
data1['country'] = data1['country'].replace([' POD RALSKEM (CZECH REPUBLIC)'], 'CZ')
data1['country'] = data1['country'].replace(['A (ARGENTINA)'], 'AR')
data1['country'] = data1['country'].replace(['RITO SANTO STATE) (BRAZIL)', ' CERRO PRIETO.&#44 B. C.'], 'BR')

data1.country.fillna('other',inplace=True)

#data1[data.country.isnull()]
data1.country.unique()

array(['US', 'other', 'GB', 'CA', 'AU', 'DE'], dtype=object)

In [15]:
data1.latitude.max(), data1.latitude.min(), data1.longitude.max(), data1.longitude.min()

(72.7, -82.862752, 178.4419, -176.65805559999998)

In [16]:
data1.country.value_counts()

US       70105
other    10554
CA        3243
GB        2038
AU         578
DE         111
Name: country, dtype: int64

In [17]:
# Para los datos en los que 'country' es un valor nulo, lo vamos a sustituir por el valor que nos devuelve geolocator al hacer la consulta con los datos de latitud y longitud:

def adress_state (lat, lon):
    coord = str(lat) + ' , '+ str(lon)
    location = geolocator.reverse(coord)
    res = location.raw['address']['state']
    return res
        
def adress_country(lat, lon, country):
    if country != 'other':
        return country
    else: 
        try: 
            coord = str(lat) + ' , '+ str(lon)
            location = geolocator.reverse(coord)
            res2 = location.raw['address']['country']
            return res2
        except: 
            return 'timeout'

#print(adress_country(29.883056, -97.941111, 'other'))
      
# adress_country(0)
# print(coord)

data1['country'] = data1.apply(lambda x: adress_country(x['latitude'], x['longitude'], x['country']), axis = 1)
   # else:
        #i


#data['country'] = data['country'].fillna(data.apply(lambda x: adress_country(x['latitude'], x['longitude']), axis = 1))

# data1['state'] = data1.apply(lambda x: adress_state(x['latitude'], x['longitude']), axis = 1)
#data['country'] = data.apply(lambda x: adress_country(x['latitude'], x['longitude']), axis = 1)

#data.head()
#data.longitude

In [19]:
data1.to_csv("UFO_modify1.csv")

In [18]:
data1.country.value_counts()

US             70105
timeout        10526
CA              3243
GB              2038
AU               578
DE               111
USA               14
UK                 2
Brasil             2
España             2
India              1
Slovenija          1
Malaysia           1
Sverige            1
Portugal           1
México             1
Ghana              1
Philippines        1
Name: country, dtype: int64

In [34]:
#Antes de hacer el analisis de NLP, debemos eliminar las filas con valores nulos:

data2 = data1.dropna(axis=0, how='any', inplace=False)

data2.head()

,datetime,city,state,country,shape,duration (seconds),comments,date posted,latitude,longitude,date,year,time
0,1949-10-10 20:30:00,San Marcos,TX,US,cylinder,2700.0,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,1949-10-10,1949.0,20:30:00
1,1949-10-10 21:00:00,Lackland Afb,TX,other,light,7200.0,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,1949-10-10,1949.0,21:00:00
3,1956-10-10 21:00:00,Edna,TX,US,circle,20.0,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,1956-10-10,1956.0,21:00:00
4,1960-10-10 20:00:00,Kaneohe,HI,US,light,900.0,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,1960-10-10,1960.0,20:00:00
5,1961-10-10 19:00:00,Bristol,TN,US,sphere,300.0,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,1961-10-10,1961.0,19:00:00

In [36]:
#análisis NLP: atencion a cambiar el nombre del Dataset!!!
#tambien faltan por definir las Stop Words

#vocab = list()
#for e in list(rank_blabla.index):
    #autor = raw_df[raw_df["Autor"] == e]
    
#seleccionamos las 

texto = list(data2["comments"])[:-50000]

#print(texto)

vectorizer = CountVectorizer()

X = vectorizer.fit_transform(texto)

bag_of_words = list(vectorizer.get_feature_names())

freq_matrix = X.toarray()

freq_matrix_sum = list(freq_matrix.sum(axis=0))

zipall = list(zip(bag_of_words, freq_matrix_sum))

sorted_zipall = sorted(zipall, key=lambda x: x[1], reverse=True)

#print(sorted_zipall)


#Se deben limpiar algunas stop-words
clean_vocab = list()

stopW = stopwords.words('english')

clean_vocab.append([tuple for tuple in sorted_zipall if tuple[0] not in stopW])
list(clean_vocab[0:100])

[[('44', 14477),
  ('lights', 6691),
  ('light', 6058),
  ('sky', 5831),
  ('object', 4974),
  ('bright', 4621),
  ('moving', 3013),
  ('orange', 3011),
  ('red', 2843),
  ('white', 2717),
  ('shaped', 2353),
  ('saw', 2320),
  ('seen', 1960),
  ('like', 1847),
  ('craft', 1773),
  ('flying', 1663),
  ('ufo', 1646),
  ('large', 1555),
  ('green', 1503),
  ('two', 1465),
  ('objects', 1407),
  ('hovering', 1308),
  ('night', 1295),
  ('blue', 1278),
  ('triangle', 1224),
  ('one', 1191),
  ('across', 1163),
  ('quot', 1158),
  ('shape', 1139),
  ('north', 1128),
  ('fast', 1064),
  ('east', 1057),
  ('star', 1056),
  ('south', 1052),
  ('west', 1035),
  ('formation', 1020),
  ('pd', 964),
  ('nuforc', 960),
  ('note', 957),
  ('low', 942),
  ('33', 916),
  ('three', 903),
  ('triangular', 894),
  ('fireball', 886),
  ('slowly', 876),
  ('high', 857),
  ('glowing', 835),
  ('sighting', 815),
  ('10', 803),
  ('ball', 800),
  ('speed', 798),
  ('flashing', 787),
  ('looked', 767),
  ('sound', 764),
  ('around', 761),
  ('strange', 727),
  ('appeared', 721),
  ('traveling', 714),
  ('moved', 707),
  ('near', 692),
  ('round', 628),
  ('disappeared', 608),
  ('driving', 590),
  ('sphere', 578),
  ('black', 573),
  ('slow', 561),
  ('circular', 552),
  ('39s', 544),
  ('observed', 544),
  ('silent', 526),
  ('yellow', 524),
  ('minutes', 522),
  ('small', 514),
  ('12', 488),
  ('oval', 487),
  ('aircraft', 484),
  ('30', 482),
  ('area', 472),
  ('back', 468),
  ('stationary', 466),
  ('orb', 465),
  ('away', 440),
  ('line', 438),
  ('went', 438),
  ('ground', 432),
  ('time', 429),
  ('colored', 428),
  ('color', 425),
  ('house', 421),
  ('side', 415),
  ('noticed', 414),
  ('flew', 412),
  ('home', 406),
  ('seconds', 401),
  ('looking', 399),
  ('going', 397),
  ('orbs', 397),
  ('spotted', 396),
  ('clear', 392),
  ('direction', 390),
  ('huge', 389),
  ('possible', 384),
  ('outside', 379),
  ('11', 377),
  ('dark', 376),
  ('see', 374),
  ('horizon', 373),
  ('blinking', 371),
  ('silver', 370),
  ('15', 369),
  ('ca', 366),
  ('hovered', 364),
  ('first', 362),
  ('circle', 361),
  ('straight', 361),
  ('flash', 359),
  ('new', 356),
  ('air', 353),
  ('stars', 353),
  ('fire', 348),
  ('noise', 347),
  ('20', 346),
  ('altitude', 345),
  ('left', 344),
  ('right', 340),
  ('witnessed', 336),
  ('feet', 335),
  ('four', 334),
  ('several', 334),
  ('close', 333),
  ('report', 330),
  ('towards', 330),
  ('changing', 327),
  ('us', 327),
  ('moon', 324),
  ('disk', 320),
  ('saucer', 320),
  ('amp', 317),
  ('cigar', 314),
  ('plane', 314),
  ('balls', 313),
  ('falling', 313),
  ('car', 311),
  ('pm', 305),
  ('coming', 303),
  ('big', 301),
  ('long', 300),
  ('behind', 299),
  ('size', 294),
  ('floating', 287),
  ('heading', 287),
  ('lake', 287),
  ('move', 285),
  ('changed', 283),
  ('came', 280),
  ('thought', 280),
  ('meteor', 279),
  ('quickly', 276),
  ('clouds', 275),
  ('made', 272),
  ('seemed', 269),
  ('tail', 269),
  ('city', 266),
  ('sighted', 260),
  ('colors', 257),
  ('cloud', 254),
  ('shooting', 251),
  ('followed', 249),
  ('different', 247),
  ('something', 243),
  ('front', 239),
  ('trail', 239),
  ('county', 237),
  ('extremely', 232),
  ('san', 232),
  ('amber', 231),
  ('beach', 231),
  ('approx', 230),
  ('overhead', 230),
  ('diamond', 229),
  ('hoax', 229),
  ('spheres', 229),
  ('day', 227),
  ('multiple', 227),
  ('pattern', 227),
  ('morning', 224),
  ('road', 224),
  ('disc', 221),
  ('lit', 221),
  ('fireballs', 219),
  ('silently', 219),
  ('times', 216),
  ('window', 216),
  ('disappearing', 212),
  ('suddenly', 212),
  ('00', 210),
  ('39t', 210),
  ('stopped', 209),
  ('tree', 207),
  ('many', 206),
  ('venus', 205),
  ('toward', 204),
  ('way', 203),
  ('jet', 202),
  ('could', 201),
  ('friend', 201),
  ('eastern', 200),
  ('california', 198),
  ('southern', 198),
  ('pulsating', 197),
  ('top', 196),
  ('look', 195),
  ('miles', 195),
  ('reddish', 195),
  ('shot', 195),
  ('turned', 193),
  ('another', 191),
  ('florida', 191),
  ('ft', 191),
  ('vanished', 191),
  ('rate', 189),
  ('wife', 187),
  ('approximately', 185),
  ('highway', 185),
  ('western', 184),
  ('five', 182),
  ('space', 182),
  ('texas', 182),
  ('45', 180),
  ('field', 180),
  ('would', 180),
  ('center', 178),
  ('single', 178),
  ('almost', 176),
  ('bottom', 175),
  ('rapidly', 175),
  ('trees', 175),
  ('lighted', 173),
  ('ufos', 173),
  ('ocean', 172),
  ('crafts', 171),
  ('northern', 171),
  ('took', 171),
  ('disappears', 170),
  ('fly', 170),
  ('making', 170),
  ('sirius', 170),
  ('valley', 170),
  ('work', 168),
  ('metallic', 167),
  ('park', 162),
  ('airplane', 160),
  ('smaller', 160),
  ('along', 159),
  ('distance', 159),
  ('still', 159),
  ('fl', 158),
  ('evening', 157),
  ('early', 155),
  ('daylight', 154),
  ('got', 153),
  ('streak', 153),
  ('dim', 152),
  ('walking', 152),
  ('500', 151),
  ('min', 151),
  ('hours', 150),
  ('years', 150),
  ('cylinder', 149),
  ('visible', 149),
  ('wa', 146),
  ('moves', 145),
  ('second', 145),
  ('sight', 145),
  ('sitting', 145),
  ('southwest', 145),
  ('watching', 145),
  ('glow', 143),
  ('witnesses', 142),
  ('39', 141),
  ('airport', 141),
  ('heard', 141),
  ('mountain', 141),
  ('rotating', 141),
  ('skies', 141),
  ('appear', 140),
  ('unknown', 140),
  ('chevron', 139),
  ('ohio', 139),
  ('50', 138),
  ('circles', 138),
  ('brilliant', 137),
  ('point', 136),
  ('spherical', 136),
  ('never', 135),
  ('directly', 134),
  ('go', 134),
  ('thing', 134),
  ('degrees', 133),
  ('flashes', 133),
  ('gone', 133),
  ('witness', 133),
  ('hover', 132),
  ('boomerang', 131),
  ('turn', 131),
  ('angle', 130),
  ('southeast', 130),
  ('40', 129),
  ('appears', 129),
  ('tx', 129),
  ('directions', 128),
  ('hour', 128),
  ('loud', 128),
  ('ne', 128),
  ('se', 128),
  ('13', 127),
  ('beam', 127),
  ('faded', 127),
  ('following', 127),
  ('october', 127),
  ('shiny', 127),
  ('travelling', 127),
  ('unusual', 127),
  ('degree', 126),
  ('hovers', 126),
  ('rectangular', 126),
  ('sw', 126),
  ('leaving', 125),
  ('northwest', 125),
  ('nw', 125),
  ('within', 125),
  ('northeast', 124),
  ('people', 124),
  ('later', 123),
  ('viewed', 123),
  ('without', 123),
  ('25', 122),
  ('flight', 122),
  ('ny', 122),
  ('solid', 122),
  ('yellowish', 122),
  ('disappear', 121),
  ('earth', 120),
  ('mountains', 120),
  ('together', 120),
  ('video', 120),
  ('watched', 120),
  ('middle', 119),
  ('friends', 118),
  ('military', 118),
  ('odd', 118),
  ('river', 118),
  ('speeds', 118),
  ('half', 117),
  ('last', 117),
  ('level', 117),
  ('appearing', 116),
  ('jets', 116),
  ('started', 116),
  ('possibly', 115),
  ('sightings', 115),
  ('movement', 114),
  ('sun', 114),
  ('town', 114),
  ('helicopter', 113),
  ('egg', 112),
  ('flickering', 112),
  ('st', 112),
  ('pa', 111),
  ('90', 110),
  ('az', 110),
  ('full', 110),
  ('mile', 110),
  ('type', 110),
  ('unidentified', 110),
  ('multi', 109),
  ('phoenix', 109),
  ('gold', 108),
  ('head', 108),
  ('hwy', 108),
  ('island', 108),
  ('minute', 108),
  ('standing', 108),
  ('november', 107),
  ('shapes', 107),
  ('stop', 107),
  ('brighter', 106),
  ('eve', 106),
  ('little', 106),
  ('eye', 105),
  ('group', 105),
  ('six', 105),
  ('zig', 105),
  ('caught', 104),
  ('old', 104),
  ('washington', 104),
  ('know', 103),
  ('nc', 103),
  ('pulsing', 103),
  ('twinkling', 103),
  ('01', 102),
  ('central', 102),
  ('dog', 102),
  ('steady', 102),
  ('cluster', 101),
  ('ever', 101),
  ('least', 101),
  ('passed', 101),
  ('row', 99),
  ('yard', 99),
  ('year', 99),
  ('100', 98),
  ('form', 98),
  ('spot', 98),
  ('far', 97),
  ('mid', 97),
  ('smoke', 97),
  ('street', 97),
  ('picture', 96),
  ('ship', 96),
  ('bay', 95),
  ('larger', 95),
  ('husband', 94),
  ('comet', 93),
  ('faster', 93),
  ('come', 92),
  ('much', 92),
  ('traveled', 92),
  ('va', 92),
  ('view', 92),
  ('atmosphere', 91),
  ('december', 91),
  ('fading', 91),
  ('get', 91),
  ('greenish', 91),
  ('headed', 91),
  ('illuminated', 91),
  ('path', 91),
  ('turns', 91),
  ('weird', 91),
  ('apart', 90),
  ('really', 90),
  ('taking', 90),
  ('arizona', 89),
  ('oct', 89),
  ('past', 89),
  ('state', 89),
  ('suspect', 89),
  ('18', 88),
  ('2012', 88),
  ('colorado', 88),
  ('corner', 88),
  ('emitting', 88),
  ('oregon', 88),
  ('rectangle', 88),
  ('sec', 88),
  ('also', 87),
  ('dot', 87),
  ('il', 87),
  ('object0', 87),
  ('brightly', 86),
  ('planes', 86),
  ('streaking', 86),
  ('yes', 86),
  ('16', 85),
  ('due', 85),
  ('gray', 85),
  ('changes', 84),
  ('dots', 84),
  ('january', 84),
  ('nov', 84),
  ('place', 84),
  ('los', 83),
  ('change', 82),
  ('fell', 82),
  ('grey', 82),
  ('late', 82),
  ('michigan', 82),
  ('angeles', 81),
  ('daughter', 81),
  ('strobe', 81),
  ('bluish', 80),
  ('end', 80),
  ('14', 79),
  ('co', 79),
  ('02', 78),
  ('christmas', 78),
  ('dancing', 78),
  ('planet', 78),
  ('son', 78),
  ('spinning', 78),
  ('stayed', 78),
  ('canadian', 77),
  ('dissapeared', 77),
  ('mt', 77),
  ('next', 77),
  ('19', 76),
  ('great', 76),
  ('horizontal', 76),
  ('location', 76),
  ('reported', 76),
  ('circling', 75),
  ('closer', 75),
  ('coast', 75),
  ('completely', 75),
  ('downtown', 75),
  ('satellite', 75),
  ('seattle', 75),
  ('teardrop', 75),
  ('05', 74),
  ('08', 74),
  ('daytime', 74),
  ('formations', 74),
  ('lasted', 74),
  ('power', 74),
  ('vertical', 74),
  ('21', 73),
  ('23', 73),
  ('anything', 73),
  ('base', 73),
  ('faint', 73),
  ('flashed', 73),
  ('ga', 73),
  ('gliding', 73),
  ('movements', 73),
  ('fall', 72),
  ('happened', 72),
  ('hbccufo', 72),
  ('inside', 72),
  ('split', 72),
  ('york', 72),
  ('22', 71),
  ('diego', 71),
  ('family', 71),
  ('mexico', 71),
  ('motionless', 71),
  ('non', 71),
  ('passing', 71),
  ('similar', 71),
  ('slightly', 71),
  ('camera', 70),
  ('downward', 70),
  ('fiery', 70),
  ('intense', 70),
  ('turning', 70),
  ('believe', 69),
  ('descending', 69),
  ('facing', 69),
  ('motion', 69),
  ('pictures', 69),
  ('rapid', 69),
  ('short', 69),
  ('square', 69),
  ('2011', 68),
  ('contrail', 68),
  ('event', 68),
  ('every', 68),
  ('interstate', 68),
  ('rural', 68),
  ('th', 68),
  ('cross', 67),
  ('cylindrical', 67),
  ('dull', 67),
  ('flies', 67),
  ('mins', 67),
  ('missile', 67),
  ('sc', 67),
  ('seeing', 67),
  ('06', 66),
  ('2008', 66),
  ('entire', 66),
  ('neon', 66),
  ('nothing', 66),
  ('perfect', 66),
  ('rd', 66),
  ('spaced', 66),
  ('football', 65),
  ('freeway', 65),
  ('hill', 65),
  ('17', 64),
  ('200', 64),
  ('31', 64),
  ('midnight', 64),
  ('neighborhood', 64),
  ('nj', 64),
  ('pass', 64),
  ('santa', 64),
  ('sized', 64),
  ('truck', 64),
  ('well', 64),
  ('wings', 64),
  ('burning', 63),
  ('encounter', 63),
  ('mph', 63),
  ('others', 63),
  ('dec', 62),
  ('mo', 62),
  ('quick', 62),
  ('sudden', 62),
  ('unexplained', 62),
  ('2013', 61),
  ('chicago', 61),
  ('erratic', 61),
  ('horizontally', 61),
  ('la', 61),
  ('las', 61),
  ('less', 61),
  ('make', 61),
  ('man', 61),
  ('orangish', 61),
  ('porch', 61),
  ('position', 61),
  ('quiet', 61),
  ('streaks', 61),
  ('travel', 61),
  ('twice', 61),
  ('wing', 61),
  ('04', 60),
  ('39ve', 60),
  ('beams', 60),
  ('dropped', 60),
  ('flat', 60),
  ('landing', 60),
  ('sunset', 60),
  ('tn', 60),
  ('water', 60),
  ('windows', 60),
  ('began', 59),
  ('broad', 59),
  ('crossed', 59),
  ('falls', 59),
  ('forming', 59),
  ('photo', 59),
  ('sped', 59),
  ('student', 59),
  ('thin', 59),
  ('2007', 58),
  ('28', 58),
  ('bigger', 58),
  ('date', 58),
  ('erratically', 58),
  ('formed', 58),
  ('illinois', 58),
  ('lite', 58),
  ('patterns', 58),
  ('wide', 58),
  ('07', 57),
  ('44000', 57),
  ('georgia', 57),
  ('giant', 57),
  ('golden', 57),
  ('live', 57),
  ('lower', 57),
  ('luminous', 57),
  ('mother', 57),
  ('pink', 57),
  ('points', 57),
  ('route', 57),
  ('ten', 57),
  ('virginia', 57),
  ('09', 56),
  ('body', 56),
  ('disapeared', 56),
  ('dusk', 56),
  ('massive', 56),
  ('missouri', 56),
  ('probably', 56),
  ('purple', 56),
  ('reports', 56),
  ('tonight', 56),
  ('upward', 56),
  ('2010', 55),
  ('afternoon', 55),
  ('flame', 55),
  ('forth', 55),
  ('lot', 55),
  ('room', 55),
  ('school', 55),
  ('shining', 55),
  ('shower', 55),
  ('stops', 55),
  ('take', 55),
  ('vegas', 55),
  ('amazing', 54),
  ('backyard', 54),
  ('eyes', 54),
  ('local', 54),
  ('nights', 54),
  ('vanishes', 54),
  ('yards', 54),
  ('2006', 53),
  ('300', 53),
  ('chased', 53),
  ('emitted', 53),
  ('incredible', 53),
  ('maybe', 53),
  ('range', 53),
  ('rocket', 53),
  ('rt', 53),
  ('sparks', 53),
  ('03', 52),
  ('75', 52),
  ('dropping', 52),
  ('eclipse', 52),
  ('fort', 52),
  ('jupiter', 52),
  ('normal', 52),
  ('notice', 52),
  ('springs', 52),
  ('traffic', 52),
  ('triangles', 52),
  ('vehicle', 52),
  ('vertically', 52),
  ('29', 51),
  ('60', 51),
  ('canada', 51),
  ('cone', 51),
  ('cover', 51),
  ('desert', 51),
  ('launch', 51),
  ('miami', 51),
  ('mysterious', 51),
  ('seven', 51),
  ('streaked', 51),
  ('woods', 51),
  ('colorful', 50),
  ('crossing', 50),
  ('getting', 50),
  ('haze', 50),
  ('hrs', 50),
  ('humming', 50),
  ('ontario', 50),
  ('parallel', 50),
  ('real', 50),
  ('2009', 49),
  ('mi', 49),
  ('quite', 49),
  ('series', 49),
  ('super', 49),
  ('taken', 49),
  ('1000', 48),
  ('2000', 48),
  ('24', 48),
  ('35', 48),
  ('clearly', 48),
  ('girlfriend', 48),
  ('kind', 48),
  ('may', 48),
  ('obj', 48),
  ('trailing', 48),
  ('transparent', 48),
  ('advertising', 47),
  ('chasing', 47),
  ('dimmed', 47),
  ('door', 47),
  ('follow', 47),
  ('jan', 47),
  ('looks', 47),
  ('lunar', 47),
  ('multicolored', 47),
  ('numerous', 47),
  ('phone', 47),
  ('photos', 47),
  ('show', 47),
  ('trails', 47),
  ('accross', 46),
  ('aprox', 46),
  ('binoculars', 46),
  ('bound', 46),
  ('cigarette', 46),
  ('francisco', 46),
  ('gulf', 46),
  ('hills', 46),
  ('landed', 46),
  ('lines', 46),
  ('perfectly', 46),
  ('random', 46),
  ('station', 46),
  ('string', 46),
  ('translucent', 46),
  ('ago', 45),
  ('attention', 45),
  ('commercial', 45),
  ('ct', 45),
  ('duration', 45),
  ('either', 45),
  ('jersey', 45),
  ('kansas', 45),
  ('period', 45),
  ('reflective', 45),
  ('shoot', 45),
  ('shoots', 45),
  ('silvery', 45),
  ('think', 45),
  ('underneath', 45),
  ('26', 44),
  ('brother', 44),
  ('course', 44),
  ('crescent', 44),
  ('darting', 44),
  ('engine', 44),
  ('fade', 44),
  ('flare', 44),
  ('iowa', 44),
  ('land', 44),
  ('nevada', 44),
  ('rising', 44),
  ('seem', 44),
  ('2004', 43),
  ('44i', 43),
  ('80', 43),
  ('arc', 43),
  ('edge', 43),
  ('fighter', 43),
  ('flaming', 43),
  ('hot', 43),
  ('houston', 43),
  ('news', 43),
  ('sets', 43),
  ('sharp', 43),
  ('things', 43),
  ('tucson', 43),
  ('2005', 42),
  ('austin', 42),
  ('bed', 42),
  ('blueish', 42),
  ('carolina', 42),
  ('cloudy', 42),
  ('est', 42),
  ('oklahoma', 42),
  ('police', 42),
  ('sounds', 42),
  ('vapor', 42),
  ('wi', 42),
  ('bedroom', 41),
  ('building', 41),
  ('constant', 41),
  ('denver', 41),
  ('exit', 41),
  ('flames', 41),
  ('force', 41),
  ('hanging', 41),
  ('instantly', 41),
  ('metalic', 41),
  ('mn', 41),
  ('redish', 41),
  ('said', 41),
  ('set', 41),
  ('44and', 40),
  ('44then', 40),
  ('called', 40),
  ('dallas', 40),
  ('descended', 40),
  ('dogs', 40),
  ('even', 40),
  ('father', 40),
  ('length', 40),
  ('lighting', 40),
  ('parking', 40),
  ('sacramento', 40),
  ('say', 40),
  ('since', 40),
  ('sure', 40),
  ('third', 40),
  ('tinley', 40),
  ('told', 40),
  ('vanish', 40),
  ('vanishing', 40),
  ('30pm', 39),
  ('39m', 39),
  ('brite', 39),
  ('couple', 39),
  ('drifting', 39),
  ('explosion', 39),
  ('farm', 39),
  ('floated', 39),
  ('helicopters', 39),
  ('hunting', 39),
  ('indiana', 39),
  ('kept', 39),
  ('pace', 39),
  ('pilot', 39),
  ('rear', 39),
  ('sort', 39),
  ('soundless', 39),
  ('speeding', 39),
  ('starlike', 39),
  ('stopping', 39),
  ('strobing', 39),
  ('telescope', 39),
  ('tops', 39),
  ('tv', 39),
  ('walked', 39),
  ('zag', 39),
  ('8217', 38),
  ('became', 38),
  ('brightness', 38),
  ('distant', 38),
  ('except', 38),
  ('fades', 38),
  ('groups', 38),
  ('higher', 38),
  ('pale', 38),
  ('radio', 38),
  ('reappeared', 38),
  ('separate', 38),
  ('seperate', 38),
  ('sides', 38),
  ('woke', 38),
  ('27', 37),
  ('balloon', 37),
  ('contrails', 37),
  ('port', 37),
  ('reflecting', 37),
  ('ring', 37),
  ('rock', 37),
  ('rose', 37),
  ('sat', 37),
  ('site', 37),
  ('unison', 37),
  ('70', 36),
  ('alabama', 36),
  ('apartment', 36),
  ('ascending', 36),
  ('blimp', 36),
  ('digital', 36),
  ('disks', 36),
  ('distinct', 36),
  ('drive', 36),
  ('eight', 36),
  ('elongated', 36),
  ('extreme', 36),
  ('mars', 36),
  ('orion', 36),
  ('siting', 36),
  ('walk', 36),
  ('00pm', 35),
  ('alien', 35),
  ('ave', 35),
  ('cold', 35),
  ('corners', 35),
  ('days', 35),
  ('figure', 35),
  ('fog', 35),
  ('forest', 35),
  ('mass', 35),
  ('observing', 35),
  ('sparkling', 35),
  ('treeline', 35),
  ('watch', 35),
  ('2003', 34),
  ('2nd', 34),
  ('afb', 34),
  ('beautiful', 34),
  ('blinked', 34),
  ('country', 34),
  ('covered', 34),
  ('dome', 34),
  ('friday', 34),
  ('lasting', 34),
  ('main', 34),
  ('md', 34),
  ('part', 34),
  ('seemingly', 34),
  ('stealth', 34),
  ('thru', 34),
  ('upwards', 34),
  ('44no', 33),
  ('bridge', 33),
  ('feb', 33),
  ('hazy', 33),
  ('lost', 33),
  ('mom', 33),
  ('nh', 33),
  ('oh', 33),
  ('opposite', 33),
  ('reappearing', 33),
  ('rounded', 33),
  ('source', 33),
  ('sunday', 33),
  ('tell', 33),
  ('utah', 33),
  ('waiting', 33),
  ('winter', 33),
  ('yet', 33),
  ('zoomed', 33),
  ('apparent', 32),
  ('arkansas', 32),
  ('bell', 32),
  ('crash', 32),
  ('diameter', 32),
  ('fairly', 32),
  ('fireworks', 32),
  ('game', 32),
  ('laser', 32),
  ('metal', 32),
  ('neighbors', 32),
  ('pacific', 32),
  ('portland', 32),
  ('semi', 32),
  ...]]

In [ ]:
data1.year.hist(histtype= 'stepfilled', color = "yellow")

In [ ]:
data_year = pd.DataFrame(data1.groupby('year').count())
data_year