In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#year = int(input('Enter the year: '))
#title = 'Top 10 Manufacturers by Fuel Efficiency ' + str(year)

#def acquire():
 #   data = pd.read_csv('./data sets/vehicles/vehicles.csv')
 #  return data

def acquire():
    data = pd.read_csv("suicide-rates-overview-1985-to-2016.csv")
    return data

#def wrangle(df):
 #   filtered = data[data['Year']==year]
  #  return filtered

def wrangle(data):
    
    data_no_dupl= data.drop_duplicates()
    data_clean=data_no_dupl.drop(['HDI for year','country-year'], axis=1)
    return data_clean
    

#def analyze(df):
 #   grouped = filtered.groupby('Make').agg({'Combined MPG':'mean'}).reset_index()
  #  results = grouped.sort_values('Combined MPG', ascending=False).head(10)
# return results

def analyze(data_clean):
    
    

#def visualize(df):
 #   fig, ax = plt.subplots(figsize=(15,8))
  #  barchart = sns.barplot(data=results, x='Make', y='Combined MPG')
   # plt.title(title + "\n", fontsize=16)
    #return barchart

#def save_viz(barchart):
 #   fig = barchart.get_figure()
  #  fig.savefig(title + '.png')

#if __name__ == '__main__':
 #   data = acquire()
  #  filtered = wrangle(data)
   # results = analyze(filtered)
    #barchart = visualize(results)
    #save_viz(barchart)
df = acquire()
df.head()

df1= wrangle(df)
df1.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers